<eac-title title="Settings"></eac-title>
<div>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
      <option [selected]="currentTab === 'my-account'">My Account</option>
      <option [selected]="currentTab === 'appearance'">Appearance</option>
      <option [selected]="currentTab === 'billing'">Billing</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <button (click)="setTab('my-account')"
                class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm transition"
                [ngClass]="{ 'active': currentTab === 'my-account' }">
          <svg class="text-gray-400 -ml-0.5 mr-2 h-5 w-5"
                [ngClass]="{ 'active': currentTab === 'my-account' }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
          <span>My Account</span>
        </button>

        <button (click)="setTab('appearance')"
                class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm transition"
                [ngClass]="{ 'active': currentTab === 'appearance' }">
          <svg class="text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5"
                [ngClass]="{ 'active': currentTab === 'appearance' }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
          </svg>
          <span>Appearance</span>
        </button>

        <button (click)="setTab('billing')"
                class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm transition"
                [ngClass]="{ 'active': currentTab === 'billing' }">
          <svg class="text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5"
                [ngClass]="{ 'active': currentTab === 'billing' }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
            <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
          </svg>
          <span>Billing</span>
        </button>
      </nav>
    </div>
  </div>
</div>

<div [ngSwitch]="currentTab">
    <eac-settings-my-account *ngSwitchCase="'my-account'"
                              [@enterTrigger]="'fadeIn'">
    </eac-settings-my-account>
    <eac-settings-appearance *ngSwitchCase="'appearance'"
                              [@enterTrigger]="'fadeIn'">
    </eac-settings-appearance>
    <eac-settings-billing *ngSwitchCase="'billing'"
                          [@enterTrigger]="'fadeIn'">
    </eac-settings-billing>
</div>
